.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.login{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/image/loginBg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  .login-layer{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #000;
  }
  .login-title{
    position: absolute;
    top: 3.4rem;
    width: 100%;
    z-index: 2;
    color: #fff;
    font-size: 0.64rem;
    font-weight: 500;
  }
  .login-btn{
    position: absolute;
    margin: 0 auto;
    top: 10.15rem;
    z-index: 2;
    border: 1px solid #fff !important;
    color: #fff;
    font-size: 0.3rem;
    height: 1rem;
    width: 5.5rem;
  }
}

.loginIn{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #fff;
  padding: 0 0.5rem;
  color: #000;
  .loginIn-title{
    position: relative;
    margin-top: 1.86rem;
    text-align: left;
    font-size: 0.45rem;
  }
  .loginIn-phone, .loginIn-validCode{
    position: relative;
    margin-top: 1.4rem;
    text-align: left;
    font-size: 0.28rem;
    .phone-num, .phone-code{
      width: 100%;
      padding: 0.05rem 0;
      margin-top: 0.1rem;
      border-bottom: 1px solid #dbdcdd;
      .phone-numInput{
        padding-left: 0;
        height: 0.7rem;
      }
      .validCode-flex{
        .phone-codeItem{
          flex: 60%;
          .phone-codeInput{
            padding-left: 0;
            height: 0.7rem;
          }
        }
        .phone-btnItem{
          flex: 40%;
          .phone-validBtn{
            display: flex;
            min-height: 44px;
            height: 0.7rem;
            vertical-align: middle;
            overflow: hidden;
            -webkit-align-items: center;
            align-items: center;
            justify-content: flex-end;
            .validBtn{
              height: 0.7rem;
              line-height: 0.7rem;
              width: 1.9rem;
              font-size: 0.28rem;
              color: #464748;
            }
          }
        }
      }
    }
  }
  .loginIn-validCode{
    margin-top: 0.91rem;
  }
  .loginIn-button{
    margin: auto;
    margin-top: 1.26rem;
    width: 80%;
    background-color: #18bee2;
    border-color: #02b6df;
    color: #fff;
    font-size: 0.32rem;
  }
  .loginIn-validBtnActive{
    background-color: #15b1d3;
  }
}

// 修改antd样式
.am-list-item .am-input-label, .am-list-item .am-input-control input{
  font-size: 0.28rem !important;
}
.am-list-item .am-list-line{
  padding-right: 0 !important;
}